 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   overflow: hidden;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 .banner {
   height: 100vh;
   width: 100%;
   position: absolute;
   left: 0;
   top: 0;
 }
 img {
   width: 100%;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
 }

 .text-box {
   position: absolute;
   width: 600px;
   top: 200px;
   left: 200px;
   color: rgb(0, 0, 0);
   font-weight: bold;
 }
 .text-box h1 {
   margin-bottom: 40px;
 }

 .text-box p {
  font-size: 14px;
  line-height: 18px;
  margin-top: 80px;
}

.text-box span {
  background: red;
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
}

.banner1  {
  animation: slide1 27s linear infinite;
}
.banner2  {
  animation: slide2 27s linear infinite;
}
.banner3  {
  animation: slide3 27s linear infinite;
}
.banner4  {
  animation: slide4 27s linear infinite;
}
.banner5  {
  animation: slide5 27s linear infinite;
}
.banner6  {
  animation: slide6 27s linear infinite;
}
.banner7  {
  animation: slide7 27s linear infinite;
}
.banner8  {
  animation: slide8 27s linear infinite;
}
.banner9  {
  animation: slide9 27s linear infinite;
}

@keyframes slide1 {
  0% {
    visibility: visible;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes slide2 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes slide3 {
   0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes slide4 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes slide5 {
  0% {
   visibility: visible;
 }
 25% {
   visibility: hidden;
 }
 50% {
   visibility: hidden;
 }
 75% {
   visibility: hidden;
 }
 100% {
   visibility: visible;
 }
}

@keyframes slide6 {
  0% {
   visibility: visible;
 }
 25% {
   visibility: hidden;
 }
 50% {
   visibility: hidden;
 }
 75% {
   visibility: hidden;
 }
 100% {
   visibility: visible;
 }
}

@keyframes slide7 {
 0% {
   visibility: hidden;
 }
 25% {
   visibility: hidden;
 }
 50% {
   visibility: visible;
 }
 75% {
   visibility: hidden;
 }
 100% {
   visibility: hidden;
 }
}

@keyframes slide8 {
  0% {
   visibility: hidden;
 }
 25% {
   visibility: hidden;
 }
 50% {
   visibility: hidden;
 }
 75% {
   visibility: hidden;
 }
 100% {
   visibility: visible;
 }
}

@keyframes slide9 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
 }